.article{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: .5em;
  padding: .5em 1em;
  gap: 1em;
}

.article-header{
  font-weight: 500;
  letter-spacing: 1px;
}

.article-detail{
  display: flex;
  gap: 1em;
}

.article-date,
.article-author{
  color: var(--secondary-text-color);
  font-size: small;
}

.article-content{
  width: 50ch;
  letter-spacing: .05rem;
  line-height: 1.2rem;
  font-size: medium;
  font-weight: 300;
}

.options{
  display: flex;
  gap: 1em;
}